body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
  padding-left: 16px;
  height: 72px;
  background: darkmagenta;
  color: white;
}

.content-container {
  flex: 1;
  display: flex;
}

.card-container {
  padding: 48px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  flex-shrink: 0;
  padding: 16px;
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 200px;
  padding: 20px;
}

ul {
  font-size: 24px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: white;
}